/* Filename: raiseContainer.css */

.container-raise {
    background-image: url(../images//blogs/blogsBackground.jpg);
    background-size: cover; 
    max-width: 100%; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 999;
}

.raise-h2 {
    text-align: center; 
    color: white;
    margin-bottom: 20px; 
    font-family: 'Arial', sans-serif;
    font-size: 2em; 
    font-weight: 600;
    text-transform: uppercase;
}

.raise-ul {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    list-style-type: none; 
    padding: 0; 
}

.raise-li {
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s; 
    width: calc(33.333% - 20px);
    padding: 20px; 
    margin: 10px;
    position: relative; 
    overflow: hidden; 
    text-align: left; 
    font-family: 'Arial', sans-serif; 
}

.raise-li:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    background-color: #87ccb1;
}

.raise-li > img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    margin-bottom: 15px; 
    transition: transform 0.3s;
}

.raise-li:hover img {
    transform: scale(1.05); 
}

strong {
    display: block; 
    margin: 5px 0; 
    color: #333;
}

@media (max-width: 768px) {
    .raise-li {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 480px) {
    .raise-li {
        width: 100%; 
    }
}